body {
  margin: 0px;
  overflow: hidden;
  background: black;
}

.container {
  position: relative;;
  float: left;
  margin: 0px;
}

.container > canvas {
  position: absolute;
  top: 0;
  left: 0;
}
